name:  PyPy
on: [push, pull_request]
permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  pypy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: true
      matrix:
        toolchain:
          - {compiler: gcc, version: 12}

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Set up PyPy
        uses: actions/setup-python@v6
        with:
          python-version: 'pypy3.10' 
          cache: 'pip'

      - name: Install dependencies
        run: |
          pypy3 -m pip install --upgrade pip
          pypy3 -m pip install build wheel

      - uses: fortran-lang/setup-fortran@v1
        id: setup-fortran
        with:
          compiler: ${{ matrix.toolchain.compiler }}
          version: ${{ matrix.toolchain.version }}
    
      - name: Build
        run: pypy3 -m pip install .[test]

      - name: Test
        run: pypy3 -m pytest
